<div class="me-4 h-100">
    <div class="row h-50">  
        <div class="col-6 h-100"> <ProgramInput /> </div>  
        <div class="col-6 h-100"> <Instruction /> </div>  
    </div>  

    <div class="row h-50">  
        <div class="col-6 h-100"> <MainMemoryTable CellCount="4096" BinLength="16" /> </div>  
        <div class="col-6 h-100"> <RegisterTable /> </div>  
    </div>  
</div>
