#program {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#program-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#line-numbers {
    text-align: right;
    padding-right: 5px;
    user-select: none;
    color: gray;
    font-family: monospace;
    line-height: 1;
}

#program-input {
    padding-top: 0px;
    font-family: monospace;
    resize: none;
    overflow-y: scroll;
    line-height: 1;
}
